@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin:0;
  padding:0;
  background-color: #0d1117;
  color: white;
  font-family: "Noto Sans", sans-serif;
}

button {
  transition: 0.5s;
  cursor: pointer;
  color: white !important;
  font-weight: bold;
  background-color: #2681ff;
  font-size: 1.5em;
  padding: 6px;
  border-radius: 12px;
  border: #c9ceda solid 3px;
}

button > a {
  color: white !important;
  text-decoration: none;
}

button:hover {
  background-color: #4a95fe;
  border: #dadfea solid 3px;
  transform: rotate(5deg);
}

#navbar {
  background-color: #02040a;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: #30363d solid 2px;
  position: sticky;
  top: 0;
}

#navbar > li {
  float: right;
}

#navbar > .title > span {
  font-weight: bold;
  border: none;
}

#navbar > li a,#navbar > li  span {
  transition: 0.5s;
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  margin: 6px 3px;
  text-decoration: none;
  border-radius: 8px;
  border: #727a83 solid 2px;
}

#navbar > li a:hover:not(.active) {
  background-color: #222;
  border: #c9ceda solid 2px !important;
}

#navbar > li a.active:hover {
  background-color: #3e8dfd;
}

.active {
  background-color: #2681ff;
  border: #c9ceda solid 2px !important;
}

input {
	margin: 6px;
	margin-top: 0px;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 6px;
	color: white;
	font-size: 1rem;
  background-color: rgb(25, 31, 38);
	border: 2px solid rgba(255, 255, 255, 0.25);
}